
/* For the cycling image*/
.container {
    width: 100%;
    aspect-ratio: 3 / 1; 
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}